a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(175, 52, 43);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color:white;
}
.background{ color: rgb(180, 131, 40);

}
    
h3{ color: rgb(175, 52, 43);
        font-size: xx-large;

}

    .navbar-collapse{
        background-color: #f8f9fa;
    }
    
    .navbar{
        padding:inherit;
    }

@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}
